<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <!--
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="tiara.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
  -->
  <connectionStrings>
    <add name="Tiara.Properties.Settings.dbTiaraConnectionString" connectionString="Data Source=ANTON-NOUT\SQLEXPRESS;Initial Catalog=Kirishi;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- 
<connectionStrings>
        <add name="Tiara.Properties.Settings.dbTiaraConnectionString"
            connectionString="Data Source=7A0F8DD614\SQLEXPRESS;Initial Catalog=dbTiara;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
-->
  <!--
  <appSettings>
    <add key="PLC_IP_1" value="127.0.0.1" />
    <add key="PLC_PORT_1" value="11159" />   
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  -->
  <appSettings>
    <add key="CPUPARAMS_1" value="/IF=tcpip /LOPO=11159"  />
    <add key="DEVPARAMS_1" value="/RT=1000 /DAIP=192.168.1.200 /REPO=11159 /ANSL=1" /> 
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>